# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*~
crossbar
*.log
*#
# Test binary, build with `go test -c`
*.test
crossbar

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
